WEB_PORT=8080

SSH_HOST=raspberrypi.local
SSH_PORT=22
SSH_USER=pi
SSH_PRIVATE_KEY=/ssh/id_ed25519
# SSH_PASSPHRASE=
# SSH_PASSWORD=

REMOTE_COMMAND=/home/pi/tp5/gpio_jsonl_reader --device /dev/tp5_gpio --interval-ms 500

MAX_SAMPLES=10
RECONNECT_MS=3000
SSH_READY_TIMEOUT_MS=15000
