WEB_PORT=8080

SSH_HOST=ramnt.local
SSH_PORT=22
SSH_USER=pi
#SSH_PRIVATE_KEY=/ssh/id_ed25519
# SSH_PASSPHRASE=
SSH_PASSWORD=1234

REMOTE_COMMAND=/home/pi/tp5/gpio_jsonl_reader --device /dev/tp5_gpio --interval-ms 500
